.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1523240795612-9a054b0db644');
    background-size: cover;
    background-position: center;
}

body {
    padding-top: 80px;
}
/* CARDS */
.card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* TITRES */
h2 {
    font-weight: bold;
}

/* PARTENAIRES */
img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);
}
.partner-card {
    background: white;
    border-radius: 10px;
    transition: 0.3s;
}

.partner-card:hover {
    transform: scale(1.05);
}

.partner-logo {
    max-height: 70px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.3s;
}

.partner-logo:hover {
    filter: grayscale(0%);
}

.footer {
    background: #111;
    color: #fff;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    color: #198754;
}

.footer h5 {
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    padding: 15px 0;
    font-size: 14px;
}

.social-icons a {
    color: white;
    margin-right: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #198754;
}

/* Navbar base */
#navbar {
    transition: 0.3s;
    padding: 15px 0;
}

/* Transparent au début */
#navbar {
    background: transparent;
}

/* Quand scroll */
#navbar.scrolled {
    background: #111;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* Liens */
.nav-link {
    color: white !important;
    margin-right: 10px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #198754 !important;
}

.about-hero {
    height: 50vh;
    background: url('/static/images/about.jpg') center/cover no-repeat;
}

.value-card {
    border-radius: 15px;
    transition: 0.3s;
}

.value-card:hover {
    transform: translateY(-10px);
}

/* GALERIE */
.gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.4s;
}

.gallery-card:hover {
    transform: translateY(-10px);
}

.gallery-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-card:hover .gallery-img {
    transform: scale(1.1);
}

.gallery-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    color: white;
}